.cards {
  display: flex;
  justify-content: center;
  background-color: #303841;
  padding: 40px 0;
}
@media (max-width: 575px) {
  .cards {
    height: auto;
  }
}
@media (min-width: 576px) {
  .cards {
    height: auto;
  }
}
@media (min-width: 992px) {
  .cards {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .cards {
    height: auto;
  }
}
.cards .cards__container {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
}
@media (max-width: 575px) {
  .cards .cards__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .cards .cards__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .cards .cards__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .cards .cards__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .cards .cards__container {
    max-width: 1200px;
  }
}
.cards .cards__container .cards__title {
  color: #F7F7F7;
  font-size: 50px;
  font-weight: bold;
  color: #F7F7F7;
  margin: 0 5px 30px;
  text-align: center;
}
@media (min-width: 576px) {
  .cards .cards__container .cards__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .cards .cards__container .cards__title {
    font-size: 28px;
  }
}
.cards .cards__container .cards__content {
  color: #F7F7F7;
  padding-bottom: 10px;
}
.cards .cards__container .card__characteristics {
  margin-bottom: 20px;
}
.cards .cards__container .card__characteristics .card__characteristics-title {
  font-size: 28px;
  font-weight: bold;
  color: #F7F7F7;
  margin: 0 5px 15px;
  text-align: center;
  color: #F6C90E;
}
@media (min-width: 576px) {
  .cards .cards__container .card__characteristics .card__characteristics-title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .cards .cards__container .card__characteristics .card__characteristics-title {
    font-size: 28px;
  }
}
.cards .cards__container .card__characteristics .card__characteristics-content {
  text-align: center;
}
.cards .cards__container .card__characteristics .card__characteristics-item .card__characteristics-item-title {
  color: #F7F7F7;
  padding: 0 10px;
}
.cards .cards__container .card__characteristics .card__characteristics-item .card__characteristics-item-content {
  color: #F7F7F7;
  padding: 0 10px;
}
.cards .cards__container .cards__list {
  display: flex;
  flex-wrap: wrap;
}
.cards .cards__container .cards__list .card {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  max-width: 555px;
}
@media (max-width: 575px) {
  .cards .cards__container .cards__list .card {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .cards .cards__container .cards__list .card {
    flex-direction: row;
  }
}
.cards .cards__container .cards__list .card .card__image {
  width: 159px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.cards .cards__container .cards__list .card .card__content {
  display: flex;
  flex-direction: column;
}
.cards .cards__container .cards__list .card .card__content .card__content-title {
  color: #F6C90E;
  padding: 0 10px;
}
.cards .cards__container .cards__list .card .card__content .card__description .card__description-title {
  color: #F7F7F7;
  padding: 0 10px;
}
.cards .cards__container .cards__list .card .card__content .card__description .card__description-content {
  color: #F7F7F7;
  padding: 0 10px;
}
.cards .cards__container .cards__list .card .card__content .card__description .card__description-configuration .card__description-configuration-item {
  color: #F7F7F7;
  padding: 0 10px;
  list-style: inside;
}
.cards .cards__container .cards__list .card .card__content .card__description .card__description-prices {
  color: #F7F7F7;
  font-weight: 700;
  padding: 0 10px;
}
.cards .cards__container .cards__list .card .card__content .card__description .card__description-btn {
  margin: 10px 0;
}
@media (max-width: 575px) {
  .cards .cards__container .cards__list .card .card__content .card__description .card__description-btn {
    margin: 10px auto;
  }
}
@media (min-width: 576px) {
  .cards .cards__container .cards__list .card .card__content .card__description .card__description-btn {
    margin: 10px;
  }
}

.card__image-1 {
  background-image: url("../img/metal/stelazh-universalnij-STR-1.jpg");
}

.card__image-2 {
  background-image: url("../img/metal/stelazh-konditerskij.jpg");
}/*# sourceMappingURL=card.css.map */