@media (max-width: 575px) {
  .hero__button {
    margin: 20px auto;
  }
}
@media (min-width: 576px) {
  .hero__button {
    margin: 20px auto;
  }
}
@media (min-width: 768px) {
  .hero__button {
    margin-left: 10%;
  }
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #303841;
  padding: 40px 0;
}
@media (max-width: 575px) {
  .hero {
    height: auto;
  }
}
@media (min-width: 576px) {
  .hero {
    height: auto;
  }
}
@media (min-width: 992px) {
  .hero {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  .hero {
    padding: 0 0 40px 0;
  }
}
@media (min-width: 576px) {
  .hero {
    padding: 0 0 40px 0;
  }
}
@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 80px);
  }
}
.hero .hero__container {
  display: flex;
  width: 100%;
  position: relative;
}
@media (max-width: 575px) {
  .hero .hero__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .hero .hero__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .hero .hero__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .hero .hero__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .hero .hero__container {
    max-width: 1200px;
  }
}
@media (max-width: 575px) {
  .hero .hero__container .hero__image-container {
    display: none;
  }
}
@media (min-width: 576px) {
  .hero .hero__container .hero__image-container {
    display: none;
  }
}
@media (min-width: 992px) {
  .hero .hero__container .hero__image-container {
    display: block;
    position: absolute;
    max-width: 800px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 0;
  }
}
.hero .hero__container .hero__image-container img {
  width: 100%;
  filter: brightness(80%);
}
@media (max-width: 575px) {
  .hero .hero__container .hero__about {
    padding: 10px;
    position: static;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Stelazhi-metalevi.jpg") no-repeat;
    background-size: cover;
  }
}
@media (min-width: 576px) {
  .hero .hero__container .hero__about {
    padding: 40px;
    position: static;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Stelazhi-metalevi.jpg") no-repeat;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .hero .hero__container .hero__about {
    padding: 0;
    background: none;
    position: absolute;
    top: 20%;
    left: 20px;
    z-index: 1;
  }
}
@media (max-width: 575px) {
  .hero .hero__container .hero__about .hero__title {
    color: #f7f7f7;
    font-weight: bold;
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .hero .hero__container .hero__about .hero__title {
    color: #f7f7f7;
    font-weight: bold;
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .hero .hero__container .hero__about .hero__title {
    font-size: 50px;
    max-width: 850px;
  }
}
.hero .hero__container .hero__about .hero__subtitle {
  margin: 20px 0 20px 50px;
  color: #f6c90e;
  font-weight: 700;
  position: relative;
}
.hero .hero__container .hero__about .hero__subtitle::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #f6c90e;
  position: absolute;
  top: 10px;
  left: -50px;
}
@media (max-width: 575px) {
  .hero .hero__container .hero__about .hero__content {
    font-size: 18px;
    max-width: 400px;
    color: #f7f7f7;
  }
}
@media (min-width: 576px) {
  .hero .hero__container .hero__about .hero__content {
    font-size: 20px;
    max-width: 400px;
    color: #f7f7f7;
  }
}
@media (min-width: 992px) {
  .hero .hero__container .hero__about .hero__content {
    font-size: 20px;
  }
}

.benefits {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 40px 0;
  height: 100vh;
}
@media (max-width: 575px) {
  .benefits {
    height: auto;
  }
}
@media (min-width: 576px) {
  .benefits {
    height: auto;
  }
}
@media (min-width: 992px) {
  .benefits {
    height: 100vh;
  }
}
.benefits .benefits__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .benefits .benefits__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .benefits .benefits__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .benefits .benefits__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .benefits .benefits__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .benefits .benefits__container {
    max-width: 1200px;
  }
}
.benefits .benefits__container .benefits__title {
  font-size: 50px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0 5px 30px;
  text-align: center;
  color: #303841;
}
@media (min-width: 576px) {
  .benefits .benefits__container .benefits__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .benefits .benefits__container .benefits__title {
    font-size: 28px;
  }
}
.benefits .benefits__container .benefits__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.benefits .benefits__container .benefits__list .benefits__item {
  width: 240px;
  height: 50px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}
.benefits .benefits__container .benefits__list .experience-item {
  background-image: url("../img/icons/icon-experience.png");
}
.benefits .benefits__container .benefits__list .shop-item {
  background-image: url("../img/icons/icon-market.png");
}
.benefits .benefits__container .benefits__list .factory-item {
  background-image: url("../img/icons/icon-factory.png");
}
.benefits .benefits__container .benefits__list .project-item {
  background-image: url("../img/icons/icon-project.png");
}
.benefits .benefits__container .benefits__list .place-item {
  background-image: url("../img/icons/icon-land.svg");
}
.benefits .benefits__container .benefits__list .saving-item {
  background-image: url("../img/icons/icon-saving.png");
}
.benefits .benefits__container .why-we__title {
  font-size: 28px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0 5px 15px;
  text-align: center;
  color: #303841;
  margin-top: 30px;
}
@media (min-width: 576px) {
  .benefits .benefits__container .why-we__title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .benefits .benefits__container .why-we__title {
    font-size: 28px;
  }
}
.benefits .benefits__container .why-we .why-we__item {
  list-style-image: url("../img/icons/icon-done.svg");
  list-style-position: inside;
  padding-left: 20px;
}

.racks {
  display: flex;
  justify-content: center;
  background-color: #303841;
  padding: 40px 0;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 575px) {
  .racks {
    height: auto;
  }
}
@media (min-width: 576px) {
  .racks {
    height: auto;
  }
}
@media (min-width: 992px) {
  .racks {
    height: 100vh;
  }
}
.racks .racks__title {
  font-size: 50px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0 5px 30px;
  text-align: center;
}
@media (min-width: 576px) {
  .racks .racks__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .racks .racks__title {
    font-size: 28px;
  }
}
.racks .racks__container {
  display: flex;
  width: 100%;
}
@media (max-width: 575px) {
  .racks .racks__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .racks .racks__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .racks .racks__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .racks .racks__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .racks .racks__container {
    max-width: 1200px;
  }
}
.racks .racks__container .racks__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  width: 100%;
}
.racks .racks__container .racks__list .racks__item {
  width: 300px;
}
.racks .racks__container .racks__list .racks__item .racks__item-link .racks__item-img {
  width: 100%;
  max-height: 236px;
  position: relative;
  z-index: 0;
}
.racks .racks__container .racks__list .racks__item .racks__item-title,
.racks .racks__container .racks__list .racks__item .racks__item-text {
  color: #f7f7f7;
}
.racks .racks__container .racks__list .racks__item .racks__item-title {
  position: relative;
  margin-left: 50px;
  transition: all 0.5s;
}
.racks .racks__container .racks__list .racks__item .racks__item-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #f6c90e;
  position: absolute;
  top: 10px;
  left: -50px;
}
.racks .racks__container .racks__list .racks__item:hover .racks__item-title {
  color: #f6c90e;
}

.woking-with {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 40px 0;
}
@media (max-width: 575px) {
  .woking-with {
    height: auto;
  }
}
@media (min-width: 576px) {
  .woking-with {
    height: auto;
  }
}
@media (min-width: 992px) {
  .woking-with {
    height: 100vh;
  }
}
.woking-with .working-with__container {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575px) {
  .woking-with .working-with__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .woking-with .working-with__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .woking-with .working-with__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .woking-with .working-with__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .woking-with .working-with__container {
    max-width: 1200px;
  }
}
.woking-with .working-with__container .working-with__title {
  font-size: 50px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0 5px 30px;
  text-align: center;
  color: #303841;
}
@media (min-width: 576px) {
  .woking-with .working-with__container .working-with__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .woking-with .working-with__container .working-with__title {
    font-size: 28px;
  }
}
.woking-with .working-with__container .working-with__list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.woking-with .working-with__container .working-with__list .working-with__list-item {
  list-style: none;
}
@media (max-width: 575px) {
  .woking-with .working-with__container .working-with__list .working-with__list-item {
    width: 200px;
  }
}
@media (min-width: 576px) {
  .woking-with .working-with__container .working-with__list .working-with__list-item {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .woking-with .working-with__container .working-with__list .working-with__list-item {
    width: 220px;
  }
}
.woking-with .working-with__container .working-with__list .working-with__list-item img {
  width: 100%;
}

.complited {
  display: flex;
  justify-content: center;
  background-color: #303841;
  padding: 40px 0;
  height: 100vh;
}
@media (max-width: 575px) {
  .complited {
    height: auto;
  }
}
@media (min-width: 576px) {
  .complited {
    height: auto;
  }
}
@media (min-width: 992px) {
  .complited {
    height: 100vh;
  }
}
.complited .complited__container {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 575px) {
  .complited .complited__container {
    min-width: 320px;
  }
}
@media (min-width: 576px) {
  .complited .complited__container {
    max-width: 559px;
  }
}
@media (min-width: 768px) {
  .complited .complited__container {
    max-width: 767px;
  }
}
@media (min-width: 992px) {
  .complited .complited__container {
    max-width: 991px;
  }
}
@media (min-width: 1200px) {
  .complited .complited__container {
    max-width: 1200px;
  }
}
.complited .complited__container .complited__title {
  font-size: 50px;
  font-weight: bold;
  color: #f7f7f7;
  margin: 0 5px 30px;
  text-align: center;
  color: #f7f7f7;
}
@media (min-width: 576px) {
  .complited .complited__container .complited__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .complited .complited__container .complited__title {
    font-size: 28px;
  }
}
.complited .complited__container .complited__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.complited .complited__container .complited__list .complited__item {
  width: 350px;
}
.complited .complited__container .complited__list .complited__item img {
  width: 100%;
  max-height: 275px;
  border-bottom: 10px solid #f6c90e;
  transition: all 0.5s;
}
.complited .complited__container .complited__list .complited__item:hover img {
  border-bottom: 10px solid transparent;
}/*# sourceMappingURL=index.css.map */