@import "breakpoints";
@import "variables";

.complited {
  display: flex;
  justify-content: center;
  background-color: $main-color;
  padding: 40px 0;
  .complited__container {
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .complited__title {
      @include title;
      color: $white-color;
    }
    .complited__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      .complited__item {
        width: 300px;
        height: 225px;
        @include xs {
          margin: 0 10px;
        }
        .complited__item-img {
          width: 300px;
          height: 225px;
          border-bottom: 10px solid $acsent-color;
          transition: all 0.5s;
        }
        &:hover img {
          border-bottom: 10px solid transparent;
        }
      }
    }
  }
}
